{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center vh-100 bg-light">
        <div class="col-lg-3 col-md-6 col-sm-9 border shadow p-5 bg-white">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="text-center mb-3">Connexion</h1>
                {{ include('includes/flashMessage.html.twig') }}
                <label for="inputEmail">Adresse email</label>
                <input type="email" value="{{ lastUsername }}" name="email" id="inputEmail"
                       class="form-control mb-3 rounded-0 p-4"
                       required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-3 rounded-0 p-4"
                       required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-outline-primary btn-block rounded-0" type="submit">
                    Se connecter
                </button>
            </form>
            <hr/>
            <div class="clearfix">
                <a class="float-left" href="{{ path('register') }}">Créer votre compte</a>
                <a class="float-right" href="{{ path('forget.passwd') }}">Mot de passe oublié ?</a>
            </div>
        </div>
    </div>
{% endblock %}
