{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Les groupes de figures</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Created At</th>
                <th scope="col">Updated At</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for trickGroup in trickGroups %}
                <tr>
                    <th scope="row">{{ trickGroup.id }}</th>
                    <td>{{ trickGroup.name }}</td>
                    <td>{{ trickGroup.description }}</td>
                    <td>{{ trickGroup.createdAt|date('Y-m-d') }}</td>
                    <td>{{ trickGroup.updatedAt|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('trickGroup.edit', {'id': trickGroup.id}) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ path('trickGroup.delete', {'id': trickGroup.id}) }}" class="btn btn-danger"
                           onclick="if (confirm('If you delete this group, you delete all tricks. Are you sure ? ')) {return true;} else {return false}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}