{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for image in trick.images %}
            {% if image.mainImg == 1 and image.active == 1 %}
                <img style="max-height: 200px" src="/images/tricks/{{ image.name }}" alt=""/>
            {% endif %}
        {% endfor %}
        <h1>{{ trick.name }}</h1>
        <p>{{ trick.description }}</p>
        <p>{{ trick.createdAt|date("Y-m-d") }}</p>
        <p>{{ trick.idTrickGroup.name }}</p>
        {% for video in trick.videos %}
            <iframe width="420" height="200"
                    src="{{ video.url }}">
            </iframe>
        {% endfor %}
        <div>
            {% for image in trick.images %}
                {% if image.mainImg == 0 and image.active == 1 %}
                    <img style="max-height: 200px" src="/images/tricks/{{ image.name }}" alt=""/>
                {% endif %}
            {% endfor %}
        </div>

        <div>
            {{ form(form) }}

            {% for comment in comments %}
                <p>{{ comment.content }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}