{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/tricks.css">
{% endblock %}

{% block body %}
    {% for image in trick.images %}
        {% if image.mainImg == 1 and image.active == 1 %}
            <figure class="position-relative">
                <img class="img-fluid" style="filter: brightness(50%);"
                     src="/images/tricks/{{ image.name }}" alt=""/>
                <figcaption>
                    <h1 class="text-white position-absolute" style="top: 50%; left: 50%">{{ trick.name }}</h1>
                </figcaption>
            </figure>
        {% endif %}
    {% endfor %}
    <div class="container-fluid">
        {% include 'includes/flashMessage.html.twig' %}
        {% include 'includes/tricks/medias.html.twig' %}
        <div class="col-md-12 p-3 shadow-lg">
            <div class="container">
                {% include 'includes/flashMessage.html.twig' %}
                {% if app.user.id is defined and app.user.id == trick.idUser.id or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('trick.delete', {'id': trick.id}) }}"><i
                                class="fa fa-trash btn text-danger shadow"></i></a>
                    <a href="{{ path('trick.edit', {'id': trick.id}) }}"><i
                                class="fa fa-edit text-warning btn shadow"></i></a>
                {% endif %}
                <div class="p-3">
                    <p>{{ trick.description }}</p>
                </div>
                <p class="text-center mt-3"><span class="badge badge-primary">{{ trick.createdAt|date("d/m/Y") }}</span>
                    <span class="badge badge-primary">{{ trick.idTrickGroup.name }}</span></p>
                <hr/>

                {% include 'front/trick/comment/show.html.twig' %}
            </div>
        </div>
    </div>
    <hr/>
{% endblock %}