{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center vh-100 w-100" style="margin-top: 110px">
        <div class="col-lg-9">
            <div class="container text-center">
                <h4>Ajouter une vidéo</h4>
                {{ form_start(formVideo) }}
                <div class="text-left">{{ form_widget(formVideo.name) }}</div>
                <div class="row p-3">
                    <div class="col">{{ form_widget(formVideo.url) }}</div>
                    <div class="col">{{ form_widget(formVideo.type) }}</div>
                    <div class="col">{{ form_widget(formVideo.active) }}</div>
                </div>
                <input type="submit" class="btn btn-outline-primary col-md-6" value="Ajouter">
                {{ form_end(formVideo) }}
            </div>
        </div>
    </div>
{% endblock %}