{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block body %}
    <img class="img-fluid" src="images/main.jpg" alt="">
    <div class="container mt-4">
        <div class="row" id="tricks">
            {% for trick in first_tricks %}
                {% if trick.active == 1 %}
                    <div class="col-md-3 mt-4">
                        <a href="{{ path('trick.show', {'id': trick.id, 'slug': trick.slug}) }}">
                            <div class="card shadow">
                                {% for image in trick.images %}
                                    {% if image.mainImg == 1 %}
                                        <img src="/images/tricks/{{ image.name }}" class="card-img-top" alt="...">
                                    {% endif %}
                                {% endfor %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ trick.name }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <input type="checkbox" id="loading" name="load_more" class="d-none">
        <div class="row hide" id="tricks">
            {% for trick in last_tricks %}
                {% if trick.active == 1 %}
                    <div class="col-md-3 mt-4">
                        <a href="{{ path('trick.show', {'id': trick.id, 'slug': trick.slug}) }}">
                            <div class="card shadow">
                                {% for image in trick.images %}
                                    {% if image.mainImg == 1 %}
                                        <img src="/images/tricks/{{ image.name }}" class="card-img-top" alt="...">
                                    {% endif %}
                                {% endfor %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ trick.name }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <label for="loading" id="load-btn" class="btn btn-outline-primary mt-4 col-md-12 d-flex justify-content-center"></label>
    </div>
{% endblock %}