<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-icon-top navbar-expand-lg fixed-top bg-white shadow">
    <a class="navbar-brand" href="{{ path('home') }}">Snowtricks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">
                    <i class="fa fa-home"></i>
                    Accueil
                </a>
            </li>
            {% if app.user %}
                {% if app.user is defined %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('trick.add') }}">
                            <i class="fa fa-plus"></i>
                            Ajouter un trick
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            <li class="nav-item">
                {% if not app.user %}
                    <a class="nav-link" href="{{ path('login') }}">
                        <i class="fa fa-sign-in-alt"></i>
                        Se connecter
                    </a>
                {% else %}
                    <a class="nav-link" href="{{ path('logout') }}">
                        <i class="fa fa-sign-out-alt"></i>
                        Se déconnecter
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
{% block body %}{% endblock %}
<footer>
    <!-- Footer -->
    <footer class="page-footer font-small bg-primary text-white mt-5">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 MIT
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</footer>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/node_modules/sweetalert/dist/sweetalert.min.js"></script>
{#<script src="/node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>#}
{% block javascripts %}{% endblock %}
</body>
</html>
