{% extends 'base.html.twig' %}

{% block body %}
    <div class="row container-fluid" style="margin-top: 110px">
        <div class="col-2">
            <div class="list-group">
                <a class="list-group-item list-group-item-action active" href="{{ path('trick.index') }}">Les
                    figures</a>
                <a class="list-group-item list-group-item-action" href="{{ path('trick.add') }}">Ajouter les figures</a>
                <a class="list-group-item list-group-item-action" href="{{ path('trickGroup.index') }}">Les groupes de
                    figures</a>
                <a class="list-group-item list-group-item-action" id="test" href="{{ path('trickGroup.add') }}">Ajouter
                    les groupes de figures</a>
            </div>
        </div>
        <div id="reload" class="col-10">
            <div id="trick">
                <h1>Les figures</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Group</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Updated At</th>
                        <th scope="col">Active</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trick in tricks %}
                        <tr>
                            <th scope="row">{{ trick.id }}</th>
                            <td>{{ trick.name }}</td>
                            <td>{{ trick.description|truncate(100) }}</td>
                            <td>{{ trick.idTrickGroup.name }}</td>
                            <td>{{ trick.createdAt|date('Y-m-d') }}</td>
                            <td>{{ trick.updatedAt|date('Y-m-d') }}</td>
                            <td class="text-center">
                                {% if trick.active == 1 %}
                                    <i style="font-size: 25px;" class="far fa-check-square text-success"></i>
                                {% else %}
                                    <i style="font-size: 25px;" class="far fa-times-circle text-danger"></i>
                                {% endif %}
                            </td>
                            <td>
                                <div class="d-flex">
                                    <div class="btn-group">
                                        <a href="{{ path('trick.edit', {'id': trick.id}) }}" class="btn btn-default border"><i class="fa fa-edit"></i>Edit</a>
                                        <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split border" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuReference">
                                            <a href="{{ path('trick.show', {'id': trick.id, slug: trick.slug}) }}"
                                               class="dropdown-item"><i class="fa fa-eye"></i> Show</a>
                                            <div class="dropdown-divider"></div>
                                            <button id="trickDelete_{{ trick.id }}" class="dropdown-item"
                                                    data-url="{{ path('trick.delete', {'id': trick.id}) }}"><i class="fa fa-trash-alt"></i> Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '[id^="trickDelete_"]', function () {
                sweetAlert('confirm', 'Are you sure?', $(this).data('url'))
            });

            function sweetAlert(type, message, dataUrl = null) {
                switch (type) {
                    case 'success' :
                        swal({
                            title: message,
                            text: 'C\'est bon !',
                            icon: type,
                            button: false,
                            timer: 1000
                        });
                        break;
                    case 'confirm' :
                        swal({
                            icon: "error",
                            title: message,
                            text: 'If you delete this trick, you delete all videos, images and comments.',
                            dangerMode: true,
                            confirm: true,
                            buttons: [
                                'Cancel',
                                'Delete'
                            ]
                        })
                            .then(function (e) {
                                if (e === true) {
                                    $.ajax({
                                        type: 'GET',
                                        url: dataUrl,
                                        success: function (data) {
                                            if (data === 'ok') {
                                                sweetAlert('success', 'Tricks supprimé !');
                                                $("#trick").load(" #trick");
                                            } else {
                                                sweetAlert('danger', 'Une erreur est survenue !');
                                            }
                                        }
                                    })
                                }
                            });
                        break;
                }
            }
        });
    </script>
{% endblock %}