{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <a class="btn btn-primary" href="{{ path('trick.edit', {'id': trickId}) }}">Retour</a>
    {{ form(form_video) }}

    <table class="col-md-12">
        <tbody>
        {% for video in videos %}
            <tr>
                <td><iframe width="420" height="200" src="{{ video.url }}"></iframe></td>
                <td>{{ video.name }}</td>
                <td>
                    <a href="{{ path('video.delete', {'id': video.id}) }}"
                       class="btn btn-danger"
                       onclick="if(confirm('Are you sure ?')) {return true;} else {return false}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}