{% extends 'base.html.twig' %}
{% block body %}
    <div class="d-flex justify-content-center align-items-center vh-100 bg-light">
        <div class="col-lg-3 col-md-6 col-sm-9 border shadow p-5 bg-white">
            {% include 'includes/flashMessage.html.twig' %}
            <h1 class="text-center mb-3">Réinitialisation de mot de passe</h1>
            {{ form_start(form) }}
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first, {'attr': {'class': 'mb-3 rounded-0 p-4'}}) }}
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second, {'attr': {'class': 'mb-3 rounded-0 p-4'}}) }}
            <input type="submit" class="btn btn-lg btn-outline-primary btn-block rounded-0">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}