{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Les figures</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for trick in tricks %}
            <tr>
                <th scope="row">{{ trick.id }}</th>
                <td>{{ trick.name }}</td>
                <td>{{ trick.description }}</td>
                <td><a href="{{ path('trick.show', {'id': trick.id, slug: trick.slug}) }}" class="btn btn-secondary">Show</a>
                    <a href="{{ path('trick.edit', {'id': trick.id}) }}" class="btn btn-primary">Edit</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}